<!-- The styles 存放全局的样式文件 -->
	<link id="bs-css" href="@routes.Assets.at("moudle/bootstrap/css/bootstrap-cerulean.css")" rel="stylesheet">
	


	<link href="@routes.Assets.at("moudle/bootstrap/css/bootstrap-responsive.css")" rel="stylesheet">
	<link href="@routes.Assets.at("moudle/bootstrap/css/charisma-app.css")" rel="stylesheet">
	<link href="@routes.Assets.at("moudle/bootstrap/css/jquery-ui.custom.css")" rel="stylesheet">
	<link href="@routes.Assets.at("moudle/bootstrap/css/fullcalendar.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/fullcalendar.print.css")" rel='stylesheet'  media='print'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/chosen.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/uniform.default.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/colorbox.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/jquery.cleditor.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/jquery.noty.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/noty_theme_default.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/elfinder.min.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/elfinder.theme.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/jquery.iphone.toggle.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/opa-icons.css")" rel='stylesheet'>
	<link href="@routes.Assets.at("moudle/bootstrap/css/uploadify.css")" rel='stylesheet'>

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="@routes.Assets.at("moudle/bootstrap/js/html5.js")"></script>
	<![endif]-->


    <style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>

	<!-- The fav icon -->
	<link rel="shortcut icon" href="@routes.Assets.at("moudle/bootstrap/img/favicon.ico")">
